body {
	background: black;
}

.schedule-container {
	width: 600px;
	margin: auto;
	color: #333;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #efefef;
	background: -webkit-linear-gradient(bottom, #efefef 0%,#e5e5e5 100%);
  	background: -moz-linear-gradient(bottom, #efefef 0%,#ddd 100%);
  	background: -o-linear-gradient(bottom, #efefef 0%,#ddd 100%);
  	background: -ms-linear-gradient(bottom, #efefef 0%,#ddd 100%);
  	background: linear-gradient(bottom, #efefef 0%,#ddd 100%);
	border: 1px solid #efefef;

}

.header {
	background: white;
	border: 1px solid #efefef;
}

.date-header {
	font-size: 12px;
	font-style: italic;
	margin: 15px 0;
	border-right: 1px solid #efefef;
	text-align: center;
	font-weight: bold;
/*	vertical-align: middle;*/
	/*padding: 15px 0;*/
	background: #fff;

}

.sc-header {
	font-size: 15px;
	margin: 15px 0;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	border-right: 1px solid #efefef;
	/*padding: 15px 0;*/
	background: #fff;

}

.lol-header {
	font-size: 15px;
	margin: 15px 0;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	/*padding: 15px 0;*/
	background: #fff;

}

.schedule-link {
	color: #555;
	font-size: 10px;
}

.date {
	width: 100px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 1px 0px #ccc;
	border: 1px solid #efefef;
}

.sc2 {
	width: 250px;
	height: 50px;
	text-align: left;
	font-weight: bold;
	border: 1px solid #efefef;
}

.lol {
	width: 250px;
	height: 50px;
	text-align: left;
	font-weight: bold;
	border: 1px solid #efefef;
}

.listing {
	border: 1px solid #efefef;
	margin: 5px;
	padding: 5px;
	background: #fff;
}

.listing:hover {
	background: rgba(178, 27,0, 0.1);
}

#date-today {
	color: #B21B00;
	font-weight: bold;
	font-size: 15px;
}

.sub {
	font-weight: normal;
	color: #777;
}

span {
	font-style: italic;
	color: #555;
}

a {
  color: #333;
  -webkit-transition: color 300ms ease-in-out 50ms;
  -moz-transition: color 300ms ease-in-out 50ms;
  -ms-transition: color 300ms ease-in-out 50ms;
  -o-transition: color 300ms ease-in-out 50ms;
  transition: color 300ms ease-in-out 50ms;
}
  
a:link, a:visited {
    color: #333;
}

a:hover {
    cursor: pointer;
    color: #b21b00;
}

.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}

#date-1 {
	font-size: 10px;
	font-style: italic;
}

.new {
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    background: black;
    color: white;
    border-radius: 0.25em;
}

#date-2, #date-3, #date-4, #date-5, #date-6, #date-7  {
	font-size: 10px;
	font-style: italic;
}
