#scores {
  background-color: black;
  margin-bottom: 1em; }
  #scores .status-link {
    text-decoration: none;
    color: #2f2f2f;
    font-weight: bold; }
  #scores .status-link img {
    vertical-align: top;
    padding: 3px 0; }
  #scores .controls {
    width: 955px;
    height: 77px;
    margin: auto; }
  #scores .container {
    width: 910px;
    height: 77px;
    float: left;
    font-size: 10px;
    margin-top: .5em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #2f2f2f;
    /*text-shadow: 0px 1px 0px #c4c4c4;*/
    overflow: hidden;
    position: relative; }
  #scores .box-scores {
    width: 1540px;
    overflow: hidden; }
  #scores .match {
    width: 150px;
    height: 77px;
    margin: 0 1px;
    float: left;
    overflow: hidden; }
  #scores .date-container {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    width: 150px;
    border-bottom: 1px solid #000;
    background: #efefef;
    	/*background: -webkit-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -moz-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -o-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -ms-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: linear-gradient(top, #efefef 0%,#d6d6d6 100%);*/ }
  #scores .title {
    text-transform: uppercase;
    width: 150px;
    /*text-shadow: 0px 1px 0px #d6d6d6;*/
    font-weight: bold;
    text-align: center;
    background: #aaa;
    	/*background: -webkit-linear-gradient(top, #c4c4c4 %,##aaa 100%);
      	background: -moz-linear-gradient(top, #c4c4c4 0%,##aaa 100%);
      	background: -o-linear-gradient(top, #c4c4c4 0%,##aaa 100%);
      	background: -ms-linear-gradient(top, #c4c4c4 0%,##aaa 100%);
      	background: linear-gradient(top, #c4c4c4 0%,##aaa 100%);*/ }
  #scores .team-top {
    height: 15px;
    width: 150px;
    line-height: 15px;
    border-bottom: 1px solid #fff;
    background: #efefef;
    	/*background: -webkit-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -moz-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -o-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -ms-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: linear-gradient(top, #efefef 0%,#d6d6d6 100%);*/ }
  #scores .team-bottom {
    height: 15px;
    width: 150px;
    line-height: 15px;
    background: #efefef;
    	/*background: -webkit-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -moz-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -o-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: -ms-linear-gradient(top, #efefef 0%,#d6d6d6 100%);
      	background: linear-gradient(top, #efefef 0%,#d6d6d6 100%);*/ }
  #scores .status-container {
    height: 15px;
    width: 150px;
    line-height: 15px;
    background: #aaa;
    	/*background: -webkit-linear-gradient(top, #c4c4c4 %,##aaa 100%);
      	background: -moz-linear-gradient(top, #c4c4c4 0%,##aaa 100%);
      	background: -o-linear-gradient(top, #c4c4c4 0%,##aaa 100%);
      	background: -ms-linear-gradient(top, #c4c4c4 0%,##aaa 100%);
      	background: linear-gradient(top, #c4c4c4 0%,##aaa 100%);*/ }
  #scores .team-name {
    float: left;
    margin: 0 5px; }
  #scores .score {
    float: right;
    margin: 0 5px; }
  #scores .date {
    margin: 0 5px; }
  #scores .winner {
    font-weight: bold; }
  #scores .loser {
    color: #555; }
  #scores .left-control {
    width: 20px;
    height: 75px;
    margin-right: 1px;
    float: left;
    overflow: hidden; }
  #scores .right-control {
    width: 20px;
    height: 75px;
    margin-left: 2px;
    float: left;
    overflow: hidden; }
  #scores .left-button {
    /*display: none;*/
    cursor: pointer;
    margin: 25.5px 0;
    margin-left: 5px; }
  #scores .right-button {
    /*display: none;*/
    cursor: pointer;
    margin: 25.5px 0;
    margin-left: -5px; }
  #scores .vod-image {
    float: left;
    margin: 1px 5px; }
  #scores .WATCH {
    /*color: #efefef;*/
    /*text-shadow: 0px 1px 0px #777;*/
    /*background: #ee3124; */
  			/*background: -webkit-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: -moz-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: -o-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: -ms-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: linear-gradient(top, #ee3124 0%,#d42c20 100%);*/ }
  #scores .LIVE {
    color: #efefef;
    /*text-shadow: 0px 1px 0px #777;*/
    background: #ee3124;
  			/*background: -webkit-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: -moz-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: -o-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: -ms-linear-gradient(top, #ee3124 0%,#d42c20 100%);
		  	background: linear-gradient(top, #ee3124 0%,#d42c20 100%);*/ }
  #scores .COMING {
    color: #555;
    background: #ccc;
    /*text-shadow: 0px 1px 0px #d6d6d6;*/ }
