@import url(http://fonts.googleapis.com/css?family=Questrial);
.IPLBracketWindow{
	width:100%;
	height:100%;
	background-color: #ddd;
	background: -webkit-linear-gradient(top, #ccc 0, #fff 100%);

	display:block;
	position: absolute;
	overflow:hidden;
	cursor: move;
}

.IPLBracketWindow.dark{
	background: -webkit-linear-gradient(top, #000 0, #303030 100%);

}

.IPLBracketTools{
	z-index: 1000;
	position: absolute;
	margin:12px;
	display:block;
	font-weight: bold;
	width:auto;
	height:auto;
	float:right;
}

div.IPLBracketLayer{
	position: absolute;
	display:block;
	width:auto;
	height:auto;
	
}

div.IPLBracketLayer h1{
	font-family: 'Questrial', sans-serif;
	color: #000;
	font-weight: bold;
	font-size: 6em;
}

div.line{
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  height: 6px;
  background-color:#000;

  /*
  background-color:transparent;
  border: 3px dashed #000;
  */
}

div.bracket-match{
	
	width:360px;
	height:120px;
	/*
	border-radius: 4px;
	border: 2px solid black;
	-webkit-transform-style: preserve-3d;
	
	background: -webkit-linear-gradient(top, #000 0, #303030 100%);*/
	
	box-shadow: 3px 3px 0px rgba(0,0,0,1),  6px 6px 0px rgba(0,0,0,1);
	background-color: #000;
	border-radius: 0 8px 0 8px;
	border: 0px solid #000;
	position: relative;
	color:#fff;
	overflow: hidden;


}

div.bracket-match .team-name{
	width:100%;
	height:50%;
	vertical-align: middle;
	display: table;
	padding-left:20px;
}

div.bracket-match .team-name:first-child{
	border-bottom: 2px solid white;
}

div.bracket-match .team-name h2{
	vertical-align: middle;
	display:table-cell;
	height: 100%;
	padding-left:20px;
	font-size: 2em;
}

div.winLayer{
	margin-left:45px;
}

div.champLayer{
	float:right;
}

.lossLayer .bracket-round{
	display: block;
	float:left;
	margin-right: 32px;
}

.bracket-round{
	display: block;
	float:left;
	margin-right: 200px;
	-moz-user-select: none;
 	-webkit-user-select: none;
}

.bracket-round.loser{
	display: block;
	float:left;
	margin-right: 48px;
}



.matches-4 .bracket-match{
	
}

.two-matches{

}

.one-matches{
	
}