.IPLBracketWindow{
	width:100%;
	height:100%;
	background-color:#ddd;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(#ccc,0),color-stop(#fff,1));
	background:-webkit-linear-gradient(top, #ccc 0, #fff 100%);
	background:   -moz-linear-gradient(top, #ccc 0, #fff 100%);
	background:     -o-linear-gradient(top, #ccc 0, #fff 100%);
	background:        linear-gradient(top, #ccc 0, #fff 100%);

	display:block;
	/* needs to be absolute if not contained within an outside object */
	position: relative;
	overflow:hidden;
	cursor: move;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

div.IPLBracketTools{
	z-index: 1000;
	position: absolute;
	padding:4px;
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
	display:block;
	
	width:auto;
	height:auto;
	float:right;
	background-color: rgba(255, 255, 255, .8);
	white-space: nowrap;
}

div.bracket-zoom-tip{
	margin:8px;
	padding: 4px;
	background-color: #fff;
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
	width:auto;
	display: block;
	position: absolute;
	white-space: nowrap;
}

div.IPLBracketTools div{
	float:left;
}

div.IPLBracketTools .toolbar-spoiler-box{
	background-color: #000;
	color:#fff;
	border-radius: 4px;
	padding: 0 4px 5px 4px;
	margin: 0 2px 2px 2px;
	width:auto;
	white-space: nowrap;
}

h1.bracket-title{
	font-size: 3.6em;
	line-height: 1.3em;
	color:#000;
	text-shadow: 2px 2px 0 #fff;
	-moz-user-select: none;
	-ms-user-select: none;
 	-webkit-user-select: none;
 	margin-top:-1em;
 	white-space: nowrap;
}

.no-zoom .bracket-title, .no-zoom .round-title{
	font-size: 100%;
}

.round-title{
	color:#000;
	float:left;
	position: absolute;
	margin-top: -1.8em;
	-moz-user-select: none;
	-ms-user-select: none;
 	-webkit-user-select: none;
}

div.IPLBracketLayer{
	position: absolute;
	display:block;
	width:auto;
	height:auto;
}

.no-zoom div.line{
	height:3px;
}

div.line{
transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  height: 6px;
  background-color:#a00000;
}

div.line.unplayed{
	background-color: #aaa;
	z-index:-2;
}

div.match-content{
	position: absolute;
}

div.score-tip-padding{
	height:100%;
	width: 100%;
	padding-left: 26%;
	display:table;
	text-align:center;
	margin: auto;
}

div.match-content.score-tip p{
	font-size:2em;
	margin: auto;
	height:100%;
	line-height: 1.3em;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.bracket-match{
	width:400px;
	height:120px;
	-webkit-box-shadow:3px 3px 0px #a00000,  6px 6px 0px #a00000;
    -moz-box-shadow:3px 3px 0px #a00000,  6px 6px 0px #a00000;
    box-shadow:3px 3px 0px #a00000,  6px 6px 0px #a00000;
	background-color: #000;
	-webkit-border-radius:0 8px 0 8px;
    -moz-border-radius:0 8px 0 8px;
    border-radius:0 8px 0 8px;
	position: relative;
	color:#fff;
	overflow: hidden;
}

.no-zoom div.bracket-match{
	width:160px;
	height:40px;
	font-size: 36%;
}

div.bracket-match.unplayed{
	-webkit-box-shadow:3px 3px 0px #aaa,  6px 6px 0px #aaa;
    -moz-box-shadow:3px 3px 0px #aaa,  6px 6px 0px #aaa;
    box-shadow:3px 3px 0px #aaa,  6px 6px 0px #aaa;
	background-color: #aaa;
}

/*
div.bracket-match.match-spoiler .team-name{
	display: none;
}
*/
div.bracket-match .score-slidein{
	position: absolute;
	float:left;
	height:100%;
	background-color: #a00000;
	-webkit-border-radius:8px 8px 0 8px;
    -moz-border-radius:8px 8px 0 8px;
    border-radius:8px 8px 0 8px;
	width:3.75em;
}

div.bracket-match .match-hide-score{
	display: none;
}

div.bracket-match .score-slidein .score{
	height: 50%;
	clear:both;
	display: table;
	margin: auto;
}

div.bracket-match .score-slidein .score h3{
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	font-size: 3em;
	line-height: 1.3em;
	text-shadow: 2px 2px 0 #000;
}

div.bracket-match .team-name{
	width:100%;
	height:50%;
	position: relative;
	vertical-align: middle;
	display: table;	
}

div.bracket-match .team-name h2{
	vertical-align: middle;
	display:table-cell;
	height:100%;
	line-height: 1.3em;
	padding-left:4%;
	font-size: 2.6em;
	font-weight: lighter;
}

div.bracket-match .team-name.long-team-name{
	font-size: .75em;
}

div.winLayer{
	margin-left:45px;
}

div.champLayer{
	float:right;
}

div.lossLayer{
	position: absolute;
	-moz-user-select: none;
	-ms-user-select: none;
 	-webkit-user-select: none;
}

.lossLayer .bracket-round{
	display: block;
	float:left;
	margin-right: 32px;
}

.bracket-round{
	display: block;
	float:left;
	margin-right: 200px;
	-moz-user-select: none;
	-ms-user-select: none;
 	-webkit-user-select: none;
}

.bracket-round.loser{
	display: block;
	float:left;
	margin-right: 48px;
}


