@import url(http://fonts.googleapis.com/css?family=Questrial);

.IPLBracketWindow{
	width:100%;
	height:100%;
	background-color: #ddd;
	background: -webkit-linear-gradient(top, #ccc 0, #fff 100%);

	display:block;
	position: absolute;
	overflow:hidden;
	cursor: move;
	font-family: 'Questrial', sans-serif;
	
}

.IPLBracketWindow.dark{
	background: -webkit-linear-gradient(top, #000 0, #303030 100%);

}

div.IPLBracketTools{
	z-index: 1000;
	position: absolute;
	padding:4px;
	border-radius: 8px;
	display:block;
	font-weight: bold;
	width:auto;
	height:auto;
	float:right;
	background-color: rgba(255, 255, 255, .8);
	white-space: nowrap;
}

div.bracket-zoom-tip{
	margin:8px;
	padding: 4px;
	background-color: #fff;
	border-radius: 8px;
	width:auto;
	display: block;
	position: absolute;
	white-space: nowrap;
}

div.IPLBracketTools div{
	float:left;
}

div.IPLBracketTools .toolbar-spoiler-box{
	background-color: #000;
	color:#fff;
	border-radius: 4px;
	padding: 0 4px 5px 4px;
	margin: 0 2px 2px 2px;
	width:auto;
	white-space: nowrap;

}

.bracket-title{
	font-size: 3.6em;
	color:#000;
	text-shadow: 2px 2px 0 #fff;
	-moz-user-select: none;
 	-webkit-user-select: none;
 	margin-top:-1em;
}

.round-title{
	color:#000;
	float:left;
	position: absolute;
	margin-top: -1.8em;
	-moz-user-select: none;
 	-webkit-user-select: none;
}

div.IPLBracketLayer{
	position: absolute;
	display:block;
	width:auto;
	height:auto;
}

div.line{
transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  height: 6px;
  background-color:#a00000;

  /*
  background-color:transparent;
  border: 3px dashed #000;
  */
}

div.line.unplayed{
	background-color: #aaa;
	z-index:-2;
}

div.bracket-match{
	
	
	width:400px;
	height:120px;
	/*
	width:160px;
	height:40px;
	font-size: 33%;
	border-radius: 4px;
	border: 2px solid black;
	-webkit-transform-style: preserve-3d;
	background: -webkit-linear-gradient(top, #000 0, #303030 100%);*/
	
	box-shadow: 3px 3px 0px #a00000,  6px 6px 0px #a00000;
	background-color: #000;
	border-radius: 0 8px 0 8px;
	border: 0px solid #000;
	position: relative;
	color:#fff;
	overflow: hidden;
}

div.bracket-match.unplayed{
	box-shadow: 3px 3px 0px #aaa,  6px 6px 0px #aaa;
	background-color: #aaa;
}

div.spoiler{

}



/*
div.bracket-match.match-spoiler .team-name{
	display: none;
}
*/
div.bracket-match .score-slidein{
	position: absolute;
	float:left;
	height:100%;
	background-color: #a00000;
	border-radius: 8px 8px 0 8px;
	width:3.75em;
}
/*
div.bracket-match.match-spoiler .score-slidein{
	display: none;
}
*/
div.bracket-match .score-slidein .score{
	height: 50%;
	clear:both;
	display: table;
	margin: auto;
	
}

div.bracket-match .score-slidein .score h3{
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	font-size: 3em;
	line-height: 0;
	font-weight: bold;
	text-shadow: 2px 2px 0 #000;
}

div.bracket-match .team-name{
	width:100%;
	height:50%;

	position: relative;
	vertical-align: middle;
	display: table;	
}

div.bracket-match .team-name h2{
	vertical-align: middle;
	display:table-cell;
	height:100%;

	line-height: 0;
	padding-left:4%;
	font-size: 2.6em;
}

div.bracket-match .team-name.long-team-name{
	font-size: .75em;
}

div.winLayer{
	margin-left:45px;
}

div.champLayer{
	float:right;
}

.lossLayer .bracket-round{
	display: block;
	float:left;
	margin-right: 32px;
}

.bracket-round{
	display: block;
	float:left;
	margin-right: 200px;
	-moz-user-select: none;
 	-webkit-user-select: none;
}

.bracket-round.loser{
	display: block;
	float:left;
	margin-right: 48px;
}
